
$pop-reg : Poppins-Regular;
$pop-light : Poppins-Light;
$pop-semi-bold : Poppins-SemiBold;
$pop-med : Poppins-Medium;
$pop-bold : Poppins-bold;


$light-blue: #3F3D56;
$white : #fff;
$black : #000;
$green : #33FF03;
$btn-border : #9D1D27;
$red: #FE0313;
$blue:#3E3EF4;
$side-bar :#F2F2F2;
$yellow : #ff0;